In [3]:
import os
import sys
 
os.environ["SPARK_HOME"] = "/usr/hdp/current/spark2-client"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/local/anaconda/bin/python" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/local/anaconda/bin/python"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.4-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [4]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("appName")
sc = SparkContext(conf=conf)

In [3]:
rdd = sc.textFile("/data/mr/wordcount/input/")
print(rdd.take(10))
print(sc.version)

['The Project Gutenberg EBook of The Adventures of Sherlock Holmes', 'by Sir Arthur Conan Doyle', '(#15 in our series by Sir Arthur Conan Doyle)', '', 'Copyright laws are changing all over the world. Be sure to check the', 'copyright laws for your country before downloading or redistributing', 'this or any other Project Gutenberg eBook.', '', 'This header should be the first thing seen when viewing this Project', 'Gutenberg file.  Please do not remove it.  Do not change or edit the']
2.1.1.2.6.2.0-205

In [9]:
rdd = sc.textFile("/data/mr/wordcount/input/")

In [7]:
rdd

/data/mr/wordcount/input_1/ MapPartitionsRDD[8] at textFile at NativeMethodAccessorImpl.java:0

In [10]:
print(rdd.take(10))

['The Project Gutenberg EBook of The Adventures of Sherlock Holmes', 'by Sir Arthur Conan Doyle', '(#15 in our series by Sir Arthur Conan Doyle)', '', 'Copyright laws are changing all over the world. Be sure to check the', 'copyright laws for your country before downloading or redistributing', 'this or any other Project Gutenberg eBook.', '', 'This header should be the first thing seen when viewing this Project', 'Gutenberg file.  Please do not remove it.  Do not change or edit the']

In [4]:
l = [1,10, 4, 2, 6]

10

In [5]:
# Approach 1 - Sorted - n*log(n)
sorted(l)[-1]

10

In [7]:
# APproach 2 - n
# L = len(l)
maxnum = l[0]
for i in l[1:]:
    if i > maxnum:
        maxnum = i
print(maxnum)

10

In [19]:
# Approach 4 - n
def maxof2nums(a, b):
    if a > b: 
        return a
    return b
def maxoflist(l, func):
#     print(l)
    if len(l) > 2:
        # max(1, max(3, 4, 2, 6))
        m = maxoflist(l[1:], func)
        return func(l[0], m)
    elif len(l) == 2:
        return func(l[0], l[1])
    return l[0]

In [29]:
maxoflist(l, maxof2nums)

10

In [28]:
def minof2(a, b):
    if a > b:
        return b
    return a
maxoflist(l, minof2)

1

In [30]:
def sumof2(a, b):
    return a+b
maxoflist(l, sumof2)

23

In [31]:
maxoflist(l, lambda x, y: x*y)

480

In [32]:
maxoflist(l, lambda x, y: (x/y)/2)

1.2

In [33]:
maxoflist(l, lambda x, y: x+y)/len(l)

4.6

In [34]:
l

[1, 10, 4, 2, 6]

In [22]:
from functools import *

In [38]:
reduce(lambda x, y: x+y, l)

23

In [12]:
arr = range(1, 10000)

In [15]:
nums = sc.parallelize(arr)
nums.take(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
nums.reduce(lambda x, y: x+ y)

49995000

In [23]:
reduce(lambda x, y: x+ y, arr)

49995000

In [25]:
linesRdd = sc.textFile("/data/mr/wordcount/input/big.txt")
words = linesRdd.flatMap(lambda x: x.split(" "))
wordsKv = words.map(lambda x: (x, 1))
output = wordsKv.reduceByKey(lambda x, y: x + y)
output.take(10)

[('The', 6139),
 ('Project', 205),
 ('EBook', 5),
 ('of', 39169),
 ('Sir', 30),
 ('Arthur', 18),
 ('Conan', 3),
 ('in', 19515),
 ('series', 88),
 ('', 69285)]

In [27]:
output.saveAsTextFile("my_result_standardbank")

In [28]:
!hadoop fs -ls my_result_standardbank

Found 3 items
-rw-r--r--   3 sandeepgiri9034 sandeepgiri9034          0 2019-08-07 09:35 my_result_standardbank/_SUCCESS
-rw-r--r--   3 sandeepgiri9034 sandeepgiri9034     673544 2019-08-07 09:35 my_result_standardbank/part-00000
-rw-r--r--   3 sandeepgiri9034 sandeepgiri9034     670881 2019-08-07 09:35 my_result_standardbank/part-00001

In [31]:
arr = range(1, 10000)
nums = sc.parallelize(arr)
def multiplyByTwo(x):
    return x*2

print(multiplyByTwo(5))
#10
dbls = nums.map(multiplyByTwo);
print(dbls.take(5))
# [2, 4, 6, 8, 10]

10
[2, 4, 6, 8, 10]

In [36]:
arr = range(1, 1000)
nums = sc.parallelize(arr)
def isEven(x):
    return x%2 == 0
isEven(41)

False

In [37]:
evens = nums.filter(isEven)
evens.take(3)
#[2, 4, 6]

[2, 4, 6]

In [38]:
arr = range(1, 1000000)
nums = sc.parallelize(arr)
def multipleByTwo(x):
        return x*2

In [39]:
dbls = nums.map(multipleByTwo);
dbls.take(5)

[2, 4, 6, 8, 10]

In [40]:
dbls.getNumPartitions()

8

In [6]:
linesRDD = sc.parallelize( ["this is a dog", "named jerry"])
def toWords(line):
      return line.split(" ")
wordsRDD = linesRDD.flatMap(toWords)
wordsRDD.collect()
# ['this', 'is', 'a', 'dog', 'named', 'jerry']

['this', 'is', 'a', 'dog', 'named', 'jerry']

In [10]:
arr = range(1, 10000)
nums = sc.parallelize(arr)
def multiplyByTwo(x):
     return [x*2]
multiplyByTwo(5)
#[10]
dbls = nums.flatMap(multiplyByTwo);
dbls.take(5)
#[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [11]:
arr = range(1, 10000)
nums = sc.parallelize(arr)
def isEven(x):
  if x%2 == 0: 
     return [x]
  else:
    return []

In [13]:
evens = nums.flatMap(isEven)
evens.take(3)

[2, 4, 6]

In [17]:
a = sc.parallelize(['1','2','3'])
b = sc.parallelize(['A','B','C'])
c=a.union(b)
# Note: doesn't remove duplicates
print(c.collect())

['1', '2', '3', 'A', 'B', 'C']

In [18]:
rdd = sc.textFile("/data/mr/wordcount/input")
ones = rdd.map(lambda x: 1)
print(ones.reduce(lambda x, y: x + y))

128461

In [19]:
rdd.count()

128461

In [22]:
rdd.take(2)

['The Project Gutenberg EBook of The Adventures of Sherlock Holmes',
 'by Sir Arthur Conan Doyle']

In [21]:
!hadoop fs -cat /data/mr/wordcount/input/big.txt|head

The Project Gutenberg EBook of The Adventures of Sherlock Holmes
by Sir Arthur Conan Doyle
(#15 in our series by Sir Arthur Conan Doyle)

Copyright laws are changing all over the world. Be sure to check the
copyright laws for your country before downloading or redistributing
this or any other Project Gutenberg eBook.

This header should be the first thing seen when viewing this Project
Gutenberg file.  Please do not remove it.  Do not change or edit the
cat: Unable to write to output stream.

In [25]:
seq = sc.parallelize(range(1, 101))
def sum(x, y):
    return x+y
total = seq.reduce(sum);
print(total)

5050

In [26]:
print(sc.parallelize(range(1, 101)).reduce(lambda x,y:x+y))

5050

In [29]:
errors = sc.parallelize([(2, 3), (4, 5), (6, 7)])

In [33]:
#ROOT MEAN SQUARE ERROR = ??
diff = errors.map(lambda x: x[0] - x[1])

In [35]:
sqdiff = diff.map(lambda x: x*x)

In [38]:
total_sqerror = sqdiff.reduce(lambda x, y: x+y)

In [39]:
total_sqerror

3

In [40]:
counts = diff.count()

In [41]:
import math
math.sqrt(total_sqerror) / counts

0.5773502691896257

In [42]:
rdd = sc.parallelize([1.0,2,3, 4, 5 , 6, 7], 3);

In [43]:
avg = rdd.reduce(lambda x, y: x + y) / rdd.count();

In [44]:
avg

4.0

In [51]:
rdd = sc.parallelize([1.0,2,3, 4, 5 , 6, 7]);

In [52]:
def totuple(x):
    return (x, 1)
mytuples = rdd.map(totuple)

In [53]:
mytuples.take(10)

[(1.0, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1)]

In [54]:
def addtuples(x, y):
    return (x[0] + y[0], x[1] + y[1])

In [55]:
addtuples((1,4), (5,6))

(6, 10)

In [56]:
mytuples.reduce(addtuples)

(28.0, 7)